<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | IIT INDORE</title>
    <meta class="description" content="It is the official website of IIT Indore where students and teachers of the institute can register to 
    see the cousrse details and couse structure of B.Tech program .">
    <meta class="robots" content="index,follow">
    <link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/img/update-logo.png">
    <link rel="stylesheet" href="/static/course.css">
</head>
<body>
    <header class="main-head">
        <nav>
            <div class="main-1">
                <div class="home">
                    <a href="/home">Home</a>
                </div>
            </div>
            <div class="main-2">
                <div class="courses">
                    <a href="/course">Courses</a>
                </div>
            </div>
            <div class="null"></div>
            <div class="main-3">
                <div class="logout">
                    <a href="/">Logout</a>
                </div>
            </div>
        </nav>
    </header>
    <section class="middle">
        <table>
            <tr>
                <th class="change-1">Course Code</th>
                <th>Course Title </th>
                <th>Weekly Contact Hours (L-T-P)</th>
                <th class="change-2">Credits</th>
            </tr>
            <tr><td>CH 103</td><td>Chemistry</td><td>3-1-0</td><td>4</td></tr>
            <tr><td>MA 103 </td><td>Calculus</td><td>3-1-0</td><td>4</td></tr>
            <tr><td>PH 103</td><td>Physics-I </td><td>2-1-0</td><td>3</td></tr>
            <tr><td>CS 103</td><td>Computer Programming </td><td>2-0-0</td><td>2</td></tr>
            <tr><td>HS 159</td><td>English Language and Communication</td><td>0-3-0</td><td>3</td></tr>
            <tr><td>CH 153 </td><td>Chemistry Lab </td><td>0-0-3</td><td>1.5</td></tr>
            <tr><td>IC 151 </td><td>Computer Programming Lab</td><td>0-0-3</td><td>1.5</td></tr>
            <tr><td>IC 153</td><td>Engineering Graphics</td><td>1-0-3</td><td>2.5</td></tr>
            <tr><td>BSE 102</td><td>Bio-Sciences</td><td>2-1-0</td><td>3</td></tr>
            <tr><td>MA 106</td><td>Linear Algebra and Ordinary Differential Equations-I</td><td>3-1-0 </td><td>4</td></tr>
            <tr><td>PH 106</td><td>Physics-II</td><td>2-1-0</td><td>3</td></tr>
            <tr><td>EE 104</td><td>Basic Electrical and Electronics Engineering</td><td>2-1-0</td><td>3</td></tr>
            <tr><td>ME 106</td><td>Basic Mechanical Engineering</td><td>2-1-0</td><td>3</td></tr>
            <tr><td>HS 108</td><td>Fundamentals of Economics</td><td>3-0-0</td><td>3</td></tr>
            <tr><td>EE 154</td><td>Basic Electrical and Electronics Engineering Lab</td><td>0-0-2</td><td>1</td></tr>
            <tr><td>PH 156</td><td>Physics Lab</td><td>0-0-3</td><td>1.5</td></tr>
            <tr><td>IC 211</td><td>Basic Manufacturing Techniques </td><td>0-0-3</td><td>1.5</td></tr>
            <tr><td>MA 203</td><td>Complex Analysis and Differential Equations-II</td><td>3-1-0</td><td>4</td></tr>
            <tr><td>CS 201</td><td>Discrete Mathematical Structures</td><td>2-1-0</td><td>3</td></tr>
            <tr><td>CS 203</td><td>Data Structures and Algorithms</td><td>2-1-0</td><td>3</td></tr>
            <tr><td>CS 207</td><td>DataBase &Information Systems</td><td>3-0-0</td><td>3</td></tr>
            <tr><td>CS 253</td><td>Data Structures and Algorithms Lab</td><td>0-0-3</td><td>1.5</td></tr>
            <tr><td>CS 257</td><td>DataBase & Information Systems Lab</td><td>0-0-3</td><td>1.5</td></tr>
            <tr><td>IC 211</td><td>Experimental Engineering Lab</td><td>0-0-3</td><td>1.5</td></tr>
            <tr><td>MA 204</td><td>Numerical Methods</td><td>3-0-2</td><td>4</td></tr>
            <tr><td>CS 202</td><td>Automata Theory and Logic</td><td>2-1-0</td><td>3</td></tr>
            <tr><td>CS 204</td><td>Design and Analysis ofAlgorithms</td><td>2-1-0</td><td>3</td></tr>
            <tr><td>CS 206</td><td>Logic Design</td><td>2-1-0</td><td>3</td></tr>
            <tr><td>CS 208</td><td>Software Engineering</td><td>2-1-0</td><td>3</td></tr>
            <tr><td>CS 254</td><td>Design and Analysis of Algorithms Lab</td><td>0-0-3</td><td>1.5</td></tr>
            <tr><td>CS 256</td><td>LogicDesignLab</td><td>0-0-3</td><td>1.5</td></tr>
            <tr><td>CS 258</td><td>Software Engineering Lab</td><td>0-0-3</td><td>1.5</td></tr>
            <tr><td>CS 309</td><td>Parallel Computing</td><td>2-1-0</td><td>3</td></tr>
            <tr><td>CS 303</td><td>Operating Systems</td><td>2-1-0</td><td>3</td></tr>
            <tr><td>CS 305</td><td>ComputerArchitecture</td><td>2-1-0</td><td>3</td></tr>
            <tr><td>CS 307</td><td>Optimization Algorithms and Techniques</td><td>2-1-0</td><td>3</td></tr>
            <tr><td>CS 302</td><td>Computer Graphics and Visualization</td><td>2-1-0</td><td>3</td></tr>
            <tr><td>CS 304</td><td>Computational Intelligence</td><td>2-1-0</td><td>3</td></tr>
            <tr><td>CS 306</td><td>Computer Networks</td><td>2-1-0</td><td>3</td></tr>
            <tr><td>CS 308</td><td>Compiler Techniques</td><td>2-1-0</td><td>3</td></tr>
            <tr><td>CS 359</td><td>Parallel Computing Lab</td><td>0-0-3</td><td>1.5</td></tr>
            <tr><td>CS 353</td><td>Operating Systems Lab</td><td>0-0-3</td><td>1.5</td></tr>
            <tr><td>CS 355</td><td>Computer Architecture Lab</td><td>0-0-3</td><td>1.5</td></tr>
            <tr><td>CS 357</td><td>Optimization Algorithms and Techniques Lab</td><td>0-0-3</td><td>1.5</td></tr>
            <tr><td>CS 352</td><td>Computer Graphics and Visualization Lab</td><td>0-0-3</td><td>1.5</td></tr>
            <tr><td>CS 354</td><td>Computational Intelligence Lab</td><td>0-0-3</td><td>1.5</td></tr>
            <tr><td>CS 356</td><td>Computer Networks Lab</td><td>0-0-3</td><td>1.5</td></tr>
            <tr><td>CS 358</td><td>Compiler Techniques Lab</td><td>0-0-3</td><td>1.5</td></tr>
            
        </table>
    </section>
</body>
</html>