<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | IIT INDORE</title>
    <meta class="description" content="It is the official website of IIT Indore where students and teachers of the institute can register to 
    see the cousrse details and couse structure of B.Tech program .">
    <meta class="robots" content="index,follow">
    <link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/img/update-logo.png">
    <link rel="stylesheet" href="/static/welcome.css">
</head>
<body>
    <header class="main-head">
        <nav>
            <div class="main-1">
                <div class="home">
                    <a href="/home">Home</a>
                </div>
            </div>
            <div class="main-2">
                <div class="courses">
                    <a href="/course">Courses</a>
                </div>
            </div>
            <div class="null"></div>
            <div class="main-3">
                <div class="logout">
                    <a href="/">Logout</a>
                </div>
            </div>
        </nav>
    </header>
    <section class="middle">
        <div class="main">
            <h1>Welcome to the <br> IIT Indore</h1>
            <img src="/static/img/update-logo.png" alt="">
        </div>
    </section>
</body>
</html>